<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav opened>
    <ul>
      <li>
        dashboard
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- <div class="example-container">
    <button (click)="snav.toggle()">open</button>
    <h1 class="example-app-name">Responsive App</h1>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="'side'"
                 [fixedInViewport]="'true'">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">dashboard</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->
<router-outlet></router-outlet>
<!-- <app-login-page></app-login-page> -->


<!-- Copyright 2022 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->